public/streamwatchr-farewell/index.html
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
    <title>Farewell Streamwatchr</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://streamwatchr.com/images/favicon.ico?2">
    <link rel="apple-touch-icon" href="http://streamwatchr.com/images/57x57.png">
    <link rel="apple-touch-icon" href="http://streamwatchr.com/images/72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="http://streamwatchr.com/images/114x114.png" sizes="114x114">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Streamwatchr is a new and playful way to engage with music. It analyzes the music being listened to right now, all around the world, in real time. Streamwatchr is great for both discovering new music and checking charts, and tracking artist and song trends.">
    <link rel="stylesheet" href="./streamwatchr_farewell_files/css">
    <link rel="stylesheet" href="./streamwatchr_farewell_files/bootstrap.min.css">
    <link rel="stylesheet" href="./streamwatchr_farewell_files/nv.d3.css">
    <link rel="stylesheet" href="./streamwatchr_farewell_files/app.css">
    <script type="text/javascript" id="www-widgetapi-script" src="./streamwatchr_farewell_files/www-widgetapi.js" async=""></script><script type="text/javascript" async="" src="./streamwatchr_farewell_files/libs.js"></script><script src="./streamwatchr_farewell_files/iframe_api"></script><script src="./streamwatchr_farewell_files/ilpslogging-0.2.min.js"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11182903-2']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>
  </head>
  <body>
    <div id="bg"><img src="./streamwatchr_farewell_files/74466328.png"></div>
    <div id="bg_overlay"></div>

<div id="loading_overlay" ng-show="showLoadingOverlay" class="ng-scope ng-hide">
  <img src="./streamwatchr_farewell_files/loader.gif">
</div>

<section id="container" role="main" class="container main-body ng-scope about" ng-class="$state.current.name">
  <!-- uiView: undefined --><ui-view autoscroll="true" class="ng-scope"><div id="page_header" class="row ng-scope">
  <h1>Farewell Streamwatchr</h1>
  <h1 class="small">All good things must come to an end...</h1>
</div>

    <div id="about" class="row ng-scope">
    <p>As of the 21st of December 2015, Streamwatchr has stopped watching
      tweets that report on the music that the world is listening
      to.</p>

    <p>For two and a half years, Streamwatchr analyzed every tweet it
      could get its hands on to see what songs people played and what
      songs people sang along to. Streamwatchr discovered long term
      trends and was able to identify artists and songs that were
      about to become big. And it did so with a captivating
      interface.</p>

    <p>In total, Streamwatchr saw 438,215,056 tweets in which people
      around the planet reported about the music that they were
      listening to.</p>

    <p>The first song that Streamwatchr saw was <em>Baby Won't You
      Please Come Home</em> by <em>Jimmie Lunceford</em> on the 3rd of
      June 2013. And the last song was <em>No One</em> by <em>Alicia
      Keys</em>, on the 21st of December 2015.  Streamwatchr saw a
      total of 660,936 unique artists<!-- and XXX unique songs-->.</p>

    <p>The most popular song was <em>Let Her Go</em>
      by <em>Passenger</em>, which Streamwatchr saw 196,986
      times. And the most popular artist seen by Streamwatchr was
      <em>Eminem</em><!--, who was seen in 746,112 tweets (from memory,
      i can be off by a couple of 1000s of tweets =( ) -->.</p>

    <p>The most frequently sung along song during the life time of
      Streamwatchr was <em>All of Me</em> by <em>John Legend</em>.</p>

    <p>Thank you to everyone who made Streamwatchr possible: Bart,
      Bas, Isaac, Justin, Maarten, Manos, Matthijs, Sven, Wouter and
      all of you around the world who shared what music you were
      listening to on Twitter.</p>
  
  <div class="logo_balk">
    <div id="streamwatchr">
      <img src="./streamwatchr_farewell_files/streamwatchr_logo.png">
    </div>
  </div>
</div></ui-view></section>
<!-- uiView: modal --><div ui-view="modal" class="ng-scope"></div></section>

</body></html>

views/index.jade
doctype 5
html(xmlns="http://www.w3.org/1999/xhtml",lang="en",xml:lang="en")
	head
		title Streamwatchr
		
		link(rel="shortcut icon",type="image/x-icon",href="images/favicon.ico?2")
		link(rel="apple-touch-icon",href="images/57x57.png")
		link(rel="apple-touch-icon",href="images/72x72.png",sizes="72x72")
		link(rel="apple-touch-icon",href="images/114x114.png",sizes="114x114")

		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")

		meta(name="description",content="Streamwatchr is a new and playful way to engage with music. It analyzes the music being listened to right now, all around the world, in real time. Streamwatchr is great for both discovering new music and checking charts, and tracking artist and song trends.")

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/nv.d3.css')
		link(rel='stylesheet', href='/css/app.css')

		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-11182903-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	body
		div(id='bg')
			img(src='http://userserve-ak.last.fm/serve/252/74466328.png')
		div(id='bg_overlay')
		
		section(ui-view)
			div(id='loading_overlay')
				img(src='/images/loader.gif')

	if settings.env == 'development'
		script(src='/js/lib/require.js', data-main='js/main.js')
	else
		script(src='/build/main.js')
